:root{

--title-white-color: #ffffff;
--content-color: #eaded8;
--button-bg-color: #ff4e50;
--partners-bg-color: #ffffff;
--text-grey-color: #666666;

}

/* --yellow-color: #fed136;
--body-bg-color: #282828;
--placeholder-color: #bbbbbb;
--hover-button-color: #fbc302; */