:root {
  --pink-color: #f38181;
  --yellow-color: #fce38a;
  --pale-color: #eaffd0;
  --aqua-color: #95e1d3;
  --primary-white-color: #ffffff;
  --primary-dark-color: #333333;
  --secondary-dark-color: #999999;

  --primary-font: "Montserrat", sans-serif;
  --accent-font: "Kaushan Script", cursive;
  --secondary--font: "Roboto", sans-serif;
}
